<<<<<<< HEAD
ul {
    list-style-type: none;
}

p,
a,
h1,
h2,
h3 {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-weight: bold;
}

a {
    text-decoration: none;
}

ol {
    padding-left: 0pt;
}

li {
    color: black;
    margin-top: 1rem;
    padding-left: 5px;
    list-style-position: inside;
    background-color: #eca2f5;
    border-radius: 8px;
    opacity: 0.75;
}

.possible-answers {
    flex-direction: column;
}

.button,
#link-button {
    height: 2.5rem;
    text-decoration: none;
    display: inline-block;
    color: #ffffff;
    background-color: blueviolet;
    padding: 8px 16px;
    border-radius: 8px;
}

input::after {
    border: 1px 80% blue;
    margin-right: 1rem;
}

.time-clock {
    float: right;
}

.page-content {
    margin-top: 5rem;
}

.highscore-page {
    margin-top: 5rem;
}

.header {
    justify-content: space-between;
}
=======
.answers {
    display:none
};
>>>>>>> 28cb91486724c0b85e0df4d5d86c9c2632fa1688
